Repository sigp/anchor, pull requests merged in 2025-02, with the labels that each got.

#111 Qbft new messages
  Cargo.lock
  Cargo.toml
  anchor/common/qbft/Cargo.toml
  anchor/common/qbft/src/config.rs
  anchor/common/qbft/src/lib.rs
  anchor/common/qbft/src/msg_container.rs
  anchor/common/qbft/src/qbft_types.rs
  anchor/common/qbft/src/tests.rs
  anchor/common/qbft/src/validation.rs
  anchor/common/ssv_types/Cargo.toml
  anchor/common/ssv_types/src/cluster.rs
  anchor/common/ssv_types/src/consensus.rs
  anchor/common/ssv_types/src/lib.rs
  anchor/common/ssv_types/src/message.rs
  anchor/qbft_manager/Cargo.toml
  anchor/qbft_manager/src/lib.rs
  anchor/validator_store/Cargo.toml
  anchor/validator_store/src/lib.rs
  anchor/validator_store/src/sync_committee_service.rs
Labels: ready-for-review, QBFT

#118 use PublicKeyBytes instead of PublicKey
  anchor/common/ssv_types/src/cluster.rs
  anchor/common/ssv_types/src/share.rs
  anchor/common/ssv_types/src/sql_conversions.rs
  anchor/database/src/cluster_operations.rs
  anchor/database/src/lib.rs
  anchor/database/src/share_operations.rs
  anchor/database/src/tests/cluster_tests.rs
  anchor/database/src/tests/mod.rs
  anchor/database/src/tests/utils.rs
  anchor/database/src/validator_operations.rs
  anchor/eth/src/event_processor.rs
  anchor/eth/src/network_actions.rs
  anchor/eth/src/util.rs
  anchor/validator_store/src/lib.rs
Labels: ready-for-review, database

#120 cargo update, and update compatible breaking changes
  Cargo.lock
  Cargo.toml
  anchor/eth/src/sync.rs
Labels: ready-for-review

#117 Lock database state globally and implement state watching
  Cargo.lock
  anchor/client/src/lib.rs
  anchor/database/Cargo.toml
  anchor/database/src/cluster_operations.rs
  anchor/database/src/lib.rs
  anchor/database/src/multi_index.rs
  anchor/database/src/operator_operations.rs
  anchor/database/src/state.rs
  anchor/database/src/tests/state_tests.rs
  anchor/database/src/tests/utils.rs
  anchor/database/src/validator_operations.rs
  anchor/eth/src/event_processor.rs
  anchor/eth/src/sync.rs
  anchor/validator_store/Cargo.toml
  anchor/validator_store/src/lib.rs
Labels: ready-for-review, database

#115 Subnet service
  Cargo.lock
  Cargo.toml
  anchor/client/Cargo.toml
  anchor/client/src/lib.rs
  anchor/network/Cargo.toml
  anchor/network/src/discovery.rs
  anchor/network/src/lib.rs
  anchor/network/src/network.rs
  anchor/subnet_tracker/Cargo.toml
  anchor/subnet_tracker/src/lib.rs
Labels: ready-for-review, network

#121 add `ssv_network_config` for configurable networks
  Cargo.lock
  Cargo.toml
  anchor/client/Cargo.toml
  anchor/client/src/config.rs
  anchor/client/src/lib.rs
  anchor/common/ssv_network_config/Cargo.toml
  anchor/common/ssv_network_config/built_in_network_configs/holesky/ssv_boot_enr.yaml
  anchor/common/ssv_network_config/built_in_network_configs/holesky/ssv_contract_address.txt
  anchor/common/ssv_network_config/built_in_network_configs/holesky/ssv_contract_block.txt
  anchor/common/ssv_network_config/built_in_network_configs/mainnet/ssv_boot_enr.yaml
  anchor/common/ssv_network_config/built_in_network_configs/mainnet/ssv_contract_address.txt
  anchor/common/ssv_network_config/built_in_network_configs/mainnet/ssv_contract_block.txt
  anchor/common/ssv_network_config/src/lib.rs
  anchor/eth/Cargo.toml
  anchor/eth/execution.rs
  anchor/eth/src/lib.rs
  anchor/eth/src/sync.rs
  anchor/src/main.rs
Labels: ready-for-review, execution layer, client, testing

#122 Qbft justifications
  Cargo.lock
  anchor/common/qbft/src/lib.rs
  anchor/common/qbft/src/msg_container.rs
  anchor/common/ssv_types/src/consensus.rs
  anchor/common/ssv_types/src/message.rs
  anchor/qbft_manager/src/lib.rs
Labels: ready-for-review, QBFT

#129 Remove `faulty` field from database and add calculating function instead
  anchor/common/ssv_types/src/cluster.rs
  anchor/common/ssv_types/src/sql_conversions.rs
  anchor/database/src/sql_operations.rs
  anchor/database/src/table_schema.sql
  anchor/database/src/tests/utils.rs
  anchor/eth/src/event_processor.rs
  anchor/qbft_manager/src/lib.rs
  anchor/validator_store/src/lib.rs
Labels: database

#132 Ignore warn log when historical syncing
  Cargo.lock
  anchor/eth/src/event_processor.rs
Labels: ready-for-review, execution layer

#128 Qbft testing
  Cargo.lock
  anchor/client/Cargo.toml
  anchor/client/src/lib.rs
  anchor/common/qbft/src/lib.rs
  anchor/common/qbft/src/msg_container.rs
  anchor/common/qbft/src/tests.rs
  anchor/common/ssv_types/Cargo.toml
  anchor/common/ssv_types/src/cluster.rs
  anchor/common/ssv_types/src/consensus.rs
  anchor/database/Cargo.toml
  anchor/eth/Cargo.toml
  anchor/eth/src/event_processor.rs
  anchor/qbft_manager/Cargo.toml
  anchor/qbft_manager/src/lib.rs
  anchor/qbft_manager/src/tests.rs
Labels: ready-for-review, QBFT, testing

#125 Implement SSV Handshake Protocol
  .github/wordlist.txt
  Cargo.lock
  anchor/client/src/config.rs
  anchor/common/ssv_network_config/Cargo.toml
  anchor/common/ssv_network_config/built_in_network_configs/holesky/ssv_domain_type.txt
  anchor/common/ssv_network_config/built_in_network_configs/mainnet/ssv_domain_type.txt
  anchor/common/ssv_network_config/src/lib.rs
  anchor/common/ssv_types/src/domain_type.rs
  anchor/common/ssv_types/src/lib.rs
  anchor/network/Cargo.toml
  anchor/network/src/behaviour.rs
  anchor/network/src/config.rs
  anchor/network/src/handshake/envelope/codec.rs
  anchor/network/src/handshake/envelope/generated/message.proto
  anchor/network/src/handshake/envelope/generated/message/mod.rs
  anchor/network/src/handshake/envelope/generated/message/pb.rs
  anchor/network/src/handshake/envelope/generated/mod.rs
  anchor/network/src/handshake/envelope/mod.rs
  anchor/network/src/handshake/mod.rs
  anchor/network/src/handshake/node_info.rs
  anchor/network/src/lib.rs
  anchor/network/src/network.rs
  anchor/src/main.rs
  book/src/SUMMARY.md
  book/src/developers.md
  book/src/handshake.md
Labels: network

#136 Commit aggregation
  anchor/common/qbft/src/lib.rs
  anchor/common/qbft/src/msg_container.rs
  anchor/common/ssv_types/src/message.rs
  anchor/qbft_manager/src/lib.rs
  anchor/qbft_manager/src/tests.rs
Labels: enhancement, ready-for-review, QBFT

#131 Qbft cleanup
  anchor/common/qbft/src/lib.rs
  anchor/common/qbft/src/qbft_types.rs
  anchor/qbft_manager/src/lib.rs
  anchor/qbft_manager/src/tests.rs
Labels: QBFT, nice-to-have

#142 Signature mismatch fix
  anchor/common/ssv_types/src/message.rs
Labels: ready-for-review, QBFT

#144 deduplicate types and redundant impls
  Cargo.lock
  anchor/common/qbft/src/lib.rs
  anchor/common/qbft/src/tests.rs
  anchor/common/ssv_types/src/cluster.rs
  anchor/common/ssv_types/src/consensus.rs
  anchor/common/ssv_types/src/message.rs
  anchor/common/ssv_types/src/msgid.rs
  anchor/common/ssv_types/src/operator.rs
  anchor/network/Cargo.toml
  anchor/network/src/lib.rs
  anchor/network/src/network.rs
  anchor/network/src/types.rs
  anchor/network/src/types/gossip_kind.rs
  anchor/network/src/types/ssv_message.rs
  anchor/qbft_manager/src/lib.rs
  anchor/qbft_manager/src/tests.rs
Labels: ready-for-review

#146 Make QBFT and signature collection managers nongeneric
  anchor/qbft_manager/src/lib.rs
  anchor/qbft_manager/src/tests.rs
  anchor/signature_collector/src/lib.rs
  anchor/validator_store/src/lib.rs
Labels: ready-for-review

#133 Sync error handling
  Cargo.lock
  anchor/client/src/lib.rs
  anchor/eth/Cargo.toml
  anchor/eth/execution.rs
  anchor/eth/src/error.rs
  anchor/eth/src/event_processor.rs
  anchor/eth/src/sync.rs
Labels: enhancement, execution layer

#151 prepare types for network queueing system
  Cargo.lock
  anchor/common/ssv_types/Cargo.toml
  anchor/common/ssv_types/src/cluster.rs
  anchor/common/ssv_types/src/committee.rs
  anchor/common/ssv_types/src/consensus.rs
  anchor/common/ssv_types/src/lib.rs
  anchor/common/ssv_types/src/message.rs
  anchor/common/ssv_types/src/msgid.rs
  anchor/common/ssv_types/src/partial_sig.rs
  anchor/qbft_manager/src/lib.rs
  anchor/qbft_manager/src/tests.rs
  anchor/subnet_tracker/src/lib.rs
  anchor/validator_store/src/lib.rs
Labels: ready-for-review

#162 make discv5 listen as specified in the config
  anchor/network/src/discovery.rs
Labels: ready-for-review, network

#157 fix committee id computation
  Cargo.lock
  anchor/common/ssv_types/Cargo.toml
  anchor/common/ssv_types/src/committee.rs
Labels: ready-for-review
